body {
  background-color: lightblue;
  text-align: center;
  }
h1 {
  color: blue;
}
p {
  font-family: verdana;
  font-size: 20px;
  }
  .list {
  background-color:lightskyblue;
  color: blue;
  border: 2px solid black;
  margin: 10px;
  padding: 15px;
}